@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.nav__head__title {
  font-family: "Protest Guerrilla", sans-serif;
}

#header__sec__top {
  background: #121212;
  height: 90vh;
  width: 100vw;
  color: #fcfcfc;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0 !important;
}



@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__dpdn_elmnts__active {
  animation: slideDown 0.5s ease-in forwards;
}


.nav__dpdn_elmnts__active.active {
    display: block;
}

.header__sec__top{
  position: relative;
}

.diamond_img{
  position: absolute;
}
#diamond_img_1{
  right: 50%;
  bottom: 10%;
  width: 80px;
  opacity: 0.5;
}
#diamond_img_2{
  right: 20%;
  bottom: 15%;
}
#diamond_img_3{
  left: 20%;
  top: 30%;
}
#diamond_img_4{
  right: 30%;
  top: 20%;
  opacity: 0.5;
}
#diamond_img_5{
  left: 10%;
  bottom: 5%;
}
#diamond_img_6{
  right: 5%;
  bottom: 40%;
  width: 80px;
}
#diamond_img_7{
  left: 2%;
  top: 35%;
  width: 80px;
  opacity: 0.5;
}
#diamond_img_8{
  left: 50%;
  top: 40%;
  opacity: 0;
}

@media (max-width: 700px) {
  #diamond_img_3 {
    opacity: 0;
  }

  #diamond_img_5 {
    opacity: 0;
  }

  #diamond_img_2{
    opacity: 0;
  }
}

.card__what__we__do {
  width: 252px;
    height: 350px;
    
    
   
    border-radius: 8px;
    cursor: pointer;
}



.main_card_container {
  margin-bottom: 50px;
}

.explore_heading {
  text-shadow: 1px 1px #b8bfd6;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
}

.explore__prog__cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.explore__prog__card {
  z-index: 1;
  grid-row-gap: 20px;
  box-shadow: 2px 2px 0 0 white, 3px 3px 0 1px;
  color: var(--white);
  background-color: #030a21;
  border-radius: 1rem;
  flex-direction: column;
  width: 250px;
  max-width: 250px;
  padding: 2rem;
  transition: all 0.3s;
  display: flex;
  position: relative;
  height: 250px;
  margin-bottom: 20px;
}
.explore__prog__card:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
  cursor: pointer
}

@media (max-width: 768px) {
  .explore_heading {
    font-size: 30px;
  }
  .explore__prog__cards{
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:1024px) {
  .explore__prog__cards {
    padding: 0px 30px;
  }
}


.shadow-brutal {
  --tw-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #000;
  --tw-shadow-colored: 0px 0px 0px 2px var(--tw-shadow-color), 2px 2px 0px 2px var(--tw-shadow-color);
}